.dashboard-container .dashboard-content .main-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.dashboard-container .dashboard-content .main-container .header-page {
    width: 100%;

}
.dashboard-container .dashboard-content .main-container .header-page .analyze-container {
    width: 100%;
    display: flex;

}
