.dashboard-container .dashboard-content .main-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
}
.dashboard-container .dashboard-content .main-container {
    width: 100%;

}
.dashboard-container .dashboard-content .main-container .analyze-container {
    width: 100%;
    display: flex;

}

@import url("./../chart-container.css");

@import url("./../user-suggestion-container.css");

@import url("./../last-user-activity.css");


