@import url("./../fonts/Roboto.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@keyframes animationSpiner{
    from {
        rotate: z 0deg;
    }
    to {

        rotate: z 500deg;
    }
}

@import url("./views/login-page.css");

@import url("./views/not-found.css");

@import url("./dashboard/dashboard-main.css");


