.dashboard-container .dashboard-aside {
    width: 245px;
    height: 100%;
    position: fixed;
    top: 75px;
    left: 0;
}

@import url("./user-box.css");

.dashboard-container .dashboard-aside .menu-box ,
.dashboard-container .dashboard-aside .menu-box .item-subset-box {
    width: 100%;
    margin: 20px 0;
    padding: 5px 25px;
    display: flex;
    list-style: none;
    flex-direction: column;
    position: relative;
}
.dashboard-container .dashboard-aside .menu-box .menu-title {
    font-size: 15px;
    color: #b8bcc8;
    margin: 15px 0 0 0 ;
}
.dashboard-container .dashboard-aside .menu-box .menu-item {
    width: 97%;
    height: 30px;
    margin: 8px 0;
    padding: 13px 9px;
    cursor: pointer;
    color: #aeafb2;
}
.dashboard-container .dashboard-aside .menu-box .menu-item:hover {
    color: #71B6F9;
}
.dashboard-container .dashboard-aside .menu-box .item-subset-box {
    margin: 8px 0 !important;
}
.dashboard-container .dashboard-aside .menu-box .item-subset-box.show {
    display: block;
}
.dashboard-container .dashboard-aside .menu-box .item-subset-box {
    position: relative;
    display: none;
    top: 0;
}
