.dashboard-container .dashboard-content {
    height: 100%;
    margin: 75px 0 0 245px;
    background-color: #ebeff2;
    padding: 10px;
}

@import url("./pages/main-page.css");
@import url("./pages/list-users.css");