.dashboard-container .dashboard-content .main-container .user-suggestion-box {
    width: 100%;
    display: flex;
    margin: 20px 0 0 0;
}
.dashboard-container .dashboard-content .main-container .user-suggestion-box .user-box{
    min-width: 150px;
    width: 24%;
    height: 180px;
    border-radius: 15px;
    padding: 7px;
    background-color: #fff;
    margin: 0 15px;

}